* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
.row {
  margin-left: -8px;
  margin-right: -8px;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.col-full {
  width: 100%;
}
.col-third {
  width: 30.33333%;
}
.col-half {
  width: 50%;
}
.mt-8 {
  margin-top: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mt-32 {
  margin-top: 32px !important;
}

.text-white {
  color: #fff !important;
}
.text-center {
  text-align: center !important;
}
#main {
}
#header {
  height: 46px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#nav {
  display: inline-block;
}
#nav .subnav {
  list-style: none;
}

#nav > li {
  display: inline-block;
}
#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  color: white;
  padding: 0 24px;
  line-height: 46px;
  text-decoration: none;
  display: block;
}
#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a {
  background-color: #ccc;
  color: black;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a {
  color: black;
  padding: 0 12px;
  line-height: 38px;
}
#nav .subnav li:hover {
  background-color: #ccc;
  color: black;
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 14px;
}
#header .mobile-menu-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
#header .mobile-menu-btn,
#header .search-btn {
  float: right;
  padding: 0 21px;
}

#header .search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}

#header .search-icon {
  color: white;
  font-size: 20px;
  line-height: 46px;
}
#header .mobile-menu-btn:hover {
  background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon {
  color: black;
}

.menu-icon {
  color: white;
  font-size: 20px;
  line-height: 46px;
}

#slider {
  margin-top: 46px;
  padding-top: 50%;
  background: url("https://scontent.fqlf1-2.fna.fbcdn.net/v/t1.15752-9/462559676_566046092593914_838494979336926950_n.jpg?stp=dst-jpg_s2048x2048_tt6&_nc_cat=105&ccb=1-7&_nc_sid=9f807c&_nc_ohc=iH1TCxR0nQcQ7kNvgEpv1Qc&_nc_zt=23&_nc_ht=scontent.fqlf1-2.fna&oh=03_Q7cD1QENLL_2_Ng-55-tbxK6y63dMHF-P1JGKPSQKC7ntmSWHg&oe=676C6C98")
    top center / cover no-repeat;
  position: relative;
}
#slider .text-content {
  color: #fff;
  bottom: 47px;
  position: absolute;
  width: 100%;
  text-align: center;
}
#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
  text-shadow: 0 0 1px #000;
}

#content {
}
#content .content-section {
  width: 800px;
  max-width: 100%;
  padding: 64px 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
#content .section-heading {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
  text-decoration: none;
}

#content .section-subheading {
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}
#content .about-text {
  margin-top: 25px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.5;
}
#content .member-list {
  margin-top: 32px;
  overflow: hidden;
}

#content .member-name {
  font-size: 18px;
  text-decoration: underline;
  color: rgb(31, 82, 163);
}
#content .member-img {
  margin-top: 15px;
  width: 200px;
  height: 300px;
  border-radius: 4px;
}
#content .tour-section {
  background-color: #000;
  height: 110vh;
}
.tickets-list {
  background-color: #fff;
  margin-top: 40px;
  list-style: none;
}
.tickets-list li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
}
.tickets-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}
.tickets-list .quantity {
  float: right;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  background-color: #000;
  color: #fff;
  margin-top: -3px;
}
.place-list {
  margin-top: 16px;
}

.place-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.place-img:hover {
  opacity: 0.6;
}
.place-body {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
  height: 290px;
}
.place-heading {
  font-size: 15px;
  font-weight: 600;
}
.place-time {
  margin-top: 15px;
  color: #757575;
}
.place-dsc {
  margin-top: 15px;
  line-height: 1.4;
  width: 190px;
  height: 170px;
  font-weight: 500;
}
.place-buy-btn {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
  border: none;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
}
.place-buy-btn:hover {
  color: #000;
  background-color: #ccc;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
}
.modal.open {
  display: flex;
}
.modal-container {
  background-color: #fff;
  width: 900px;
  max-width: calc(100%-32px);
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 0.5s;
}
.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  font-size: 24px;
  padding: 12px;
  cursor: pointer;
  opacity: 0.9;
}
.modal-close:hover {
  opacity: 1;
  color: black;
  background-color: lightgray;
}
.modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}
.ti-bag {
  margin-right: 16px;
}
.modal-body {
  padding: 16px;
}
.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}
.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}
#buy-tickets {
  background: #009688;
  border: none;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  width: 100%;
  padding: 18px;
  cursor: pointer;
}
#buy-tickets:hover {
  opacity: 0.9;
}
.modal-footer {
  padding: 16px;
  text-align: right;
}
.modal-footer a {
  color: #2196f3;
}
.contact-content {
  margin-top: 48px;
}
.contact-info {
  font-size: 18px;
  line-height: 1.5;
}
.contact-info i {
  width: 30px;
  display: inline-block;
}
.contact-info a {
  color: #101aef;
  opacity: 0.8;
}
.contact-info a:hover {
  opacity: 1;
}
.contact-form {
  font-size: 25px;
}
.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.contact-form .form-submit-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 16px;
  float: right;
}
.contact-form .form-submit-btn:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}
.big_picture {
  width: 100%;
}

#footer {
  padding: 64px 16px;
  text-align: center;
}
#footer .socials-list {
  font-size: 24px;
}
#footer .socials-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
#footer .copyright a:hover,
#footer .socials-list a:hover {
  color: rgba(0, 0, 0, 0.4);
}
#footer .copyright {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a {
  color: rgba(0, 0, 0, 0.6);
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
